
.container{
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top: 20px;
  padding: 10px;;
}
input[type=button]{
  background: #8EA604;
  color:white;
  border: none;
}
.leaflet-container {  width: 50%; height: 70vh;  z-index: 1;}
@media (max-width: 700px) {
  .leaflet-container{
    display: none;
  }
}
