.App{
  display: flex;
  flex-direction: column;
}
.search>input[type=text]{
  height: 27px;
  padding-left: 20px;
}
ul{
  display: flex;
  flex-direction: column;
  gap:20px;
}
li{
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
}
li:hover{
  background-color: #8FBB99;
}
.search{
  display: flex;
 
}